<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MachineLearning_APP</title>
    <style>
      .content {
	  margin: auto;
	  width: 60%;
	  padding: 10px;
      }
    </style>
  </head>
   <body>
   <h1>Digital Image Recognition</h1>
   <br><br><br><br>
   <div class="content">
      <form action = "/" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit" value = "Analyze"/>
         <br><br><br><br>
	 <h3>Usage:</h3>
	 <h4>Click on the "Choose file" button in order to upload an image. Then, click on the button "Analyze".</h4>
	 <p>This APP allows to identify a wide range of Objects.
	 </p>
  </div>
          <br><br>
          <a target="_blank" href="https://www.algonquincollege.com/">Algonquin College</a>
      </form>
   </body>
</html>
